/* body{
    background-color: bisque;
} */

/* .main-class{
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaAKPcQdWXHuD8RncOx64L8vNCoR36lrqE9g&usqp=CAU");
    background-position: 'center';
    background-size: 'cover';
    background-repeat: 'no-repeat';
    width: '100vw';
    height: '500px';
  }
  .form{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-style:  groove;
    width:300px;
    height:200px
  } */
